<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<body background="C:\Users\asmit\OneDrive\Pictures\Screenshots\Screenshot 2025-06-22 185034.png">
<div class="wrapper">
<form>
<h1>Enter your Details</h1>
<div class="input-box">
<input type="text" placeholder="Username" required></div>
<div class="input-box">
<input type="tel" placeholder="Contact No." required></div>
<div class="input-box">
<input type="email" placeholder="Email" required></div><br>
<a href="#"><button type="submit" class="abc">Next</button></a>
</div>
</form>
</div>
</body>
</html>